

/// Variable donde definimos la url de todas las fuentes
/// @type string
/// @group fonts

$font-path: '/sass/fonts/';

$fonts:(
    font-default: sans-serif,
    font-regular: 'barlow-regular.ttf',
    font-italic: 'barlow-italic.ttf',
    font-icomoon: 'icomoon.ttf'  
);

/// Lista donde se especifican los elementos aplicando el tipo y tamaño de fuente teniendo en cuenta los puntos de ruptura
/// @type map
/// @todo Por medio de bucle aplicar en función del punto de ruptura el tipo y tamaño de fuente
/// @group fonts

$font-size-elements: (
    heading:(
        h1:(
            xs:(
                font-family: font-regular,
                font-size: 17px
            ),
            md:(
                font-family: font-regular,
                font-size: 20px
            ),
            lg:(
                font-family: font-regular,
                font-size: 24px
            )
        ),
        h2:(
            xs:(
                font-family: font-regular,
                font-size: 24px
            ),
            md:(
                font-family: font-regular,
                font-size: 24px
            ),
            lg:(
                font-family: font-regular,
                font-size: 24px
            )
        )
    ),
    body:(
        hola
    )
);